# Django Security
SECRET_KEY=any-random-string-here
DEBUG=True # Set to False in production

# Database Connection
# Format: postgres://username:password@hostname:port/dbname
DATABASE_URL=your-database-connection-string-goes-here